/* Bagian I; Styling Bagian Container dan Navigasi */
.containerr{
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerr #navbar-expand-lg{
    height: 13%;
    background-color: #32459B !important;
    
}

#sign-up-link  {
    background-color: #E0EAF9;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
    color: #32459B;
}

#sign-in-link{
    font-size: 19px;
    color: #E0EAF9;
    padding: 10px;
    border-radius: 10px;
}

#sign-in-link:hover{
    background-color: #E0EAF9;
    color: #32459B;
    border-radius: 10px;
}

#sign-up-link:hover{
    background-color: #32459B;
    color: #E0EAF9;
    border-radius: 10px;
    border: 2px solid #E0EAF9;
}

.navbar-toggler{
    background-color: #E0EAF9;
    padding: 5px;
}

.navbar-toggler-icon{
    color: #32459B;
}

#nav-item{
    margin-left: 25px;
}

/* Bagian II: Styling Bagian Content*/
.content{
    height: 87%;
    display: flex;
    flex-direction: row;
}
.content-text{
    text-align: center;
    width: 50%;
}

.text{
    margin-top: 60px;
    margin-left: 50px;
    text-align: justify;
    margin-right: 55px;
}

.text .text-heading{
    text-align: left;
}

.content .content-text .text .text-heading, .jargon{
    color: #32459B;
    font-size: 32px;
}

.content .content-text .text .description{
    color: #32459B;
    font-size: 19px;
}

.content-pic{
    display: flex;
    width: 50%;
}

.image-warehouse{
    margin-left: 30px;
    margin-top: 30px;
}

.register-button{
    display: flex;
    justify-content: center;
}

.register-button a{
    background-color: #32459B;
    text-decoration: none;
    padding: 10px;
    color: #E0EAF9;
    border-radius: 10px;
    font-size: 19px;
}

.register-button a:hover{
    color: #32459B;
    background-color: #E0EAF9;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #32459B;
}




@media only screen and (max-width: 768px){    
    .content{
        flex-wrap: wrap;
    }

    .content-text{
        height: 35%;
        width: 100%;
        margin-top: 0px;
    }
    
    .text{
        margin-top: 10px;
        margin-left: 10px;
        text-align: justify;
        margin-right: 10px;
    }

    .content-pic{
        height: 65%;
        width: 100%;
    }


    .containerr .content .content-pic .image-warehouse img{
        width: 10px;
    }
    

    .content .content-text .text .text-heading, .jargon{
        color: #32459B;
        font-size: 16px;
    }

    .content .content-text .text .description{
        color: #32459B;
        font-size: 13px;
    }

    .content-pict .image-warehouse img {
        margin-top: 0px;
        max-width: 90%; 
        height: auto; 
    }
    
    #logo {
        width: 100px;
        height: auto; 
        margin-left: 10px;
    }
    
    .register-button a{
        font-size: 16px;
        margin-bottom: 40px;
    }

    #sign-up-link  {
        display: block;
        font-size: 13px;
    }
    #sign-in-link  {
        display: block;
        font-size: 13px;
    }

    #navbarText{
        background-color: #32459B;
        border-radius: 10px;
    }

    #nav-item{
        margin-left: 0px;
    }
}